@font-face {
    font-family: 'Norse';
    src: url('assets/fonts/fonts/Norse-Bold.woff2') format('woff2'),
        url('assets/fonts/fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 1200px;
    height: 1000px;
    margin: 50px auto;
}

.right {
    flex: 1.5;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.left {
    flex: 1;
    background-image: url(assets/photos/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
    position: relative;
}

.banner {
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0,0,0,0.7);
    padding: 30px 0;
}

.brand {
    font-size: 80px;
    color: white;
    font-family: "Norse", sans-serif;
    padding-top: 19px;
}

.logo {
    height: auto;
    width: 100px;
    color: gray;
}

.credit {
    position: absolute;
    bottom: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credit p, .credit a {
    color: beige;
}

.section1 {
    background-color: #f4f4f4;
    flex: none;
    height: 364px;
    padding: 140px 100px 80px 30px;
    font-size: 22px;
    font-family: 'InterVariable', sans-serif;
    font-weight: 550;
}

.section1 > p:first-child {
    margin-bottom: 30px;
}

.section2 {
    background-color: white;
    height: 30%;
    padding: 20px 100px 40px 30px;
    position: relative;
    font-family: 'InterVariable', sans-serif;
}

.section2::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 6px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), #f4f4f4);
  pointer-events: none;
}

.section3 {
    background-color: #f4f4f4;
    flex: 1;
    padding: 30px 0 0 30px;
    font-family: 'InterVariable', sans-serif;
}

fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 66px;
    row-gap: 30px;
}

fieldset div {
    display: flex;
    flex-direction: column;
    width: 40%;
}

input {
    border: 1px solid #E5E7EB;
    width: 100%;
    border-radius: 4px;
    height: 30px;
}

input:focus {
    outline: none;
    border: 2px solid #007BFF;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.section2 > h2 {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
}

[type="password"]:invalid {
    border: 1px solid rgb(200, 46, 46);
}

.section3 a {
    text-decoration: none;
    color: #596D48;
    font-weight: 600;
}

button {
    background-color: #596D48;
    color: white;
    border: none;
    padding: 14px 40px;
    border-radius: 6px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}